################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sudu-ekonomika/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
